:root {
  --primary: #a4a4ff;
  --primary-dark: #3b3bfb;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.search {
  background-color: rgb(251, 146, 60);
}
.header {
  background-image: linear-gradient(
    to right bottom,
    var(--primary-dark),
    var(--primary)
  );
}

@layer base {
  li {
  }

  h1 {
  }
  h2 {
  }
  h3 {
  }

  button {
  }

  .icon {
  }
}
